* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
main {
    background-color: #7FFFD4;
    padding: 80px 0;
}
#title {
    color: #303030;
    font-size: 2rem;
}
.container {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    aspect-ratio: 1 / 1;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-container {
    padding: 20px 15px;
}
.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 20px;
    gap: 5px;
}
.btn-play {
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    padding: 8px 12px;
    background-color: rgb(95, 177, 95);
    border: 1px solid rgb(44, 142, 44);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 20px;
}
.square {
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 600;
    color: #2F5EA4;
}
label {
    font-weight: 600;
    font-size: 15px;
}
.input-select {
    padding: 5px;
    cursor: pointer;
}
footer {
    padding: 20px;
    display: flex;
    align-items: center;
}
.caption {
    font-weight: 600;
}
.link {
    font-weight: 500;
}
.failed {
    color: white;
    background-color: red;
    border-color: rgb(189, 15, 15);
}
.success {
    color: white;
    background-color: #00A3E8;
    border-color: #007db2;
}
.game-message {
    margin: 40px auto 15px;
    max-width: 800px;
    text-align: center;
    font-size: x-large;
}
.lose {
    color: #840606;
}
.win {
    color: rgb(24, 141, 24);
}
.game-info {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    font-weight: 600;
    font-size: small;
}